@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
background-color: black;
}

h1 {
background-color: white;
}

h2 {
background-color: white;
}

h3 {
background-color: white;
}

h4 {
background-color: white;
}

h5 {
background-color: white;
}

h6 {
background-color: white;
}
