@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

header { display: inline; }

body {
background-color: black;
}

a {
color: white;
text-deciration: none;
}

h1 {
color: white;
}

h2 {
color: white;
}

h3 {
color: white;
}

h4 {
color: white;
}

h5 {
color: white;
}

h6 {
color: white;
}

// ---------------------------
// Vars & Helper Functions
// ---------------------------

:root {
  --screen-width:     320px;
  --screen-height:    560px;
  --header-bg-color:  #673AB7;
  --splash-bg-color:  #368887;
}

// calculate a circle's circumference based on radius
@function circumference($r){
  $pi: 3.141592653;
  @return 2*$pi*$r;
}


// ---------------------------
// Main Navigation Menu
// ---------------------------

.nav {
  
  // Toggle Button

  .buy {
   height: 30px; 
  }
