@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

header { display: inline; }

body {
background-color: black;
}

h1 {
color: white;
}

h2 {
color: white;
}

h3 {
color: white;
}

h4 {
color: white;
}

h5 {
color: white;
}

h6 {
color: white;
}
